.map-container {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 75vh;
  overflow: hidden;
  border-radius: 15px;
}
.mapboxgl-popup {
  transform: none;
  top: 15%;
  left: 10px;
  border-radius: 5px;

  overflow-y: scroll;
  overflow-x: scroll;
  background-color: rgb(177, 176, 176);
  top: 9%;
  left: 13px;
  z-index: 1;
}

.mapboxgl-marker {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
}

body {
  text-align: center;
}
.adminForm {
  display: inline-block;
  border-radius: "15px;";
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
