.greenStatus {
  content: url(https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-green.png);
  margin: 0 auto;
  display: block;
}

.redStatus {
  content: url(https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-red.png);
  margin: 0 auto;
  display: block;
}

.yellowStatus {
  content: url(https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-gold.png);
  margin: 0 auto;
  display: block;
}

.popUp {
  z-index: 10;
}

.statusMarker {
  text-align: center;
  background-color: green;
}

.rinkImgs {
  max-width: 70%;
  height: 150px;
}
