.greenStatus {
  color: green;
}

.redStatus {
  content: url(https://lh3.googleusercontent.com/proxy/5ipb_BsA8QzREYdsuGMkqnIDrQQtWoWXzYeL65C-nCPSP8hIwQSm_HerRYsBWem9A7mCCI62DCbQEgEajT18KJrjO_711gNA8l5GGFyBtfNGGmOnXljNCkbOvv2b4GdZhyJmm6zQ2zMLMWdPsk4Uk14YBHcWR1Hsg4mJvei5yy3z1eBlTFEoeaRmMYWOkpo);
  height: 10px;
  width: auto;
  margin: auto;
}

.yellowStatus {
  color: yellow;
}

.mapboxgl-marker {
  display: block;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 1;
}
