.greenStatus {
  color: green;
}

.redStatus {
  content: url(https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png);
  justify-content: center;
}

.yellowStatus {
  content: url(https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-gold.png);
}

.popUp {
  z-index: 10;
}
